.wrapper {
  font-weight: 300;
}

.heading {
  padding-bottom: 1.8rem;
}

.headingText {
  font-size: 1.5em;
  font-weight: 600;
}

.subheadingText {
  font-size: 1rem;
}

.body {
}

.bodyText {
  font-size: 1.1em;
  padding-bottom: 1rem;
}

.link,
.lanugageSpan {
  font-weight: 550;
  text-decoration: none; // Removes underline from links

  &:hover {
    color: var(--highlight-ck); // Change to desired hover color
  }
}
